In [60]:
#Gr√°ficos trabalho 2 de AOCII
#Benchmark GCC_4

import pandas as pd
import numpy as np

titles = pd.MultiIndex.from_tuples([('L1','DL1'),('L1','IL1'),('L2','DL2'),('L2','IL2'),('L3','DL3+IL3')])

data = {
    '<nsets>': [4096,4096,2048,2048,2048],
    '<bsize>':[32,32,128,128,256],
    '<assoc>': [4,4,4,4,4],
    '<repl>': ['l','l','l','l','l'],
    'Acessos':[14930789,40270304,16388,27142,9117],
    'Hits': [14915635,40243162,12415,21998,4332],
    'Misses': [15154,27142,3973,5144,4785],
    'Replacement':[1328,14519,0, 650,94],
    'Misse-Rate': [0.0010,0.0007,0.2424,0.1895, 0.5248]
}
print(f'Benchmark: GCC_4')
data_panda = pd.DataFrame(data,index=titles)
data_panda

Benchmark: GCC_4

            <nsets>  <bsize>  <assoc> <repl>   Acessos      Hits  Misses  \
L1 DL1         4096       32        4      l  14930789  14915635   15154
   IL1         4096       32        4      l  40270304  40243162   27142
L2 DL2         2048      128        4      l     16388     12415    3973
   IL2         2048      128        4      l     27142     21998    5144
L3 DL3+IL3     2048      256        4      l      9117      4332    4785

            Replacement  Misse-Rate
L1 DL1             1328      0.0010
   IL1            14519      0.0007
L2 DL2                0      0.2424
   IL2              650      0.1895
L3 DL3+IL3           94      0.5248

In [61]:
#BENCHMARK GO_1
titles = pd.MultiIndex.from_tuples([('L1','DL1'),('L1','IL1'),('L2','DL2'),('L2','IL2'),('L3','DL3+IL3')])

data = {
    '<nsets>': [4096,4096,2048,2048,2048],
    '<bsize>':[32,32,128,128,256],
    '<assoc>': [4,4,4,4,4],
    '<repl>': ['l','l','l','l','l'],
    'Acessos':[157215275,548177182,12035,15530,6705],
    'Hits': [157203500,548161652,9012,11848,3255],
    'Misses': [11775,15530,3023,3682,3450],
    'Replacement':[261,1927,0,0,0],
    'Misse-Rate': [ 0.0001,0, 0.2512,0.2371,0.5145]
}
print(f'Benchmark: GO_1')
data_panda = pd.DataFrame(data, index=titles)
data_panda

Benchmark: GO_1

            <nsets>  <bsize>  <assoc> <repl>    Acessos       Hits  Misses  \
L1 DL1         4096       32        4      l  157215275  157203500   11775
   IL1         4096       32        4      l  548177182  548161652   15530
L2 DL2         2048      128        4      l      12035       9012    3023
   IL2         2048      128        4      l      15530      11848    3682
L3 DL3+IL3     2048      256        4      l       6705       3255    3450

            Replacement  Misse-Rate
L1 DL1              261      0.0001
   IL1             1927      0.0000
L2 DL2                0      0.2512
   IL2                0      0.2371
L3 DL3+IL3            0      0.5145

In [58]:
#BENCHMARK IJPEG_1
titles = pd.MultiIndex.from_tuples([('L1','DL1'),('L1','IL1'),('L2','DL2'),('L2','IL2'),('L3','DL3+IL3')])

data = {
    '<nsets>': [4096,4096,2048,2048,2048],
    '<bsize>':[32,32,128,128,256],
    '<assoc>': [4,4,4,4,4],
    '<repl>': ['l','l','l','l','l'],
    'Acessos':[4738, 8994,483,582,351],
    'Hits': [4255,8412,325,389, 151],
    'Misses': [483,582,158,193,200],
    'Replacement':[0,0,0,0,0],
    'Misse-Rate': [0.1019,0.0647,0.3271,0.3316,0.5698]
}
print(f'Benchmark: IJPEG_1')
data_panda = pd.DataFrame(data, index=titles)
data_panda

Benchmark: IJPEG_1

            <nsets>  <bsize>  <assoc> <repl>  Acessos  Hits  Misses  \
L1 DL1         4096       32        4      l        0     0       0
   IL1         4096       32        4      l        0     0       0
L2 DL2         2048      128        4      l        0     0       0
   IL2         2048      128        4      l        0     0       0
L3 DL3+IL3     2048      256        4      l        0     0       0

            Replacement  Misse-Rate
L1 DL1                0           0
   IL1                0           0
L2 DL2                0           0
   IL2                0           0
L3 DL3+IL3            0           0