In [3]:
import json

with open("nome.json", "r") as read:
    y = json.load(read)

print(type(y))
print(y)

<class 'list'>
[{'name': 'Bianca', 'age': 26, 'games': ['Warframe', 'Overwatch']}, {'name': 'Raissa', 'age': 26, 'games': ['Warframe', 'Overwatch']}, {'name': 'Sandra', 'age': 56, 'games': None}, {'name': 'Vinicius', 'age': 32, 'games': ['League of Legends', 'Valorant']}]

In [6]:
import csv
import pandas as pd

df = pd.read_json(r"nome.json")
df.to_csv(r'nome.csv', index = None)

nome = pd.read_csv("nome.csv")
nome

       name  age                              games
0    Bianca   26          ['Warframe', 'Overwatch']
1    Raissa   26          ['Warframe', 'Overwatch']
2    Sandra   56                                NaN
3  Vinicius   32  ['League of Legends', 'Valorant']